@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>App ConnectLead!</h2>

<p>@Html.ActionLink("Media","Media")</p>
<p>@Html.ActionLink("maiores que a media","Elementos")</p>
<p>
    @Html.ActionLink("Lista invertida","reverso")
</p>
